<!DOCTYPE html>

<html lang="pt-br">
    <head>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/base.css')}}">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <meta charset="UTF-8"
        

    </head>

    <body>
        <header>
            <a href="{{url_for('home')}}">Covid-19 Journal</a>
        </header>   

        <footer>

                <p> Copyright 2013 - Gabriel Tamiozzo</p>
              
         
         </footer>
    </body>
</html>